<header>
	<h1 id="logo">
		<a href="/">
			<!-- <img src="/images/bkme.png" /> -->
			<span class="preload">BKME</span>
		</a>
	</h1>
	<div class="description">DEFEND THE BIKE LANE, JOIN LA VELOLUCION!</div>

	<nav class="main">
		<ul>
			<li><a href="/activity/">activity</a></li>
			<li><a href="/data/">data</a></li>
			<li><a href="/faq">faq</a></li>
			<li><a href="/about">about</a></li>
			<li class="join"><a href="/join" >JOIN NOW</a></li>
		</ul>
	</nav>	
	<div class="clearfix"></div>
</header>