<header>
	<h1 id="logo">
		<a href="/">
			<img src="/images/bkme.png" />
			<span class="invisible">BKME</span>
		</a>
	</h1>
	<h3><a href="/join">Join la velolución!</a></h3>
	<nav class="main">
		<ul>
			<li><a href="/map/">activity</a></li>
			<li><a href="/data/">data</a></li>
			<li><a href="/about">about</a></li>
		</ul>
	</nav>	
	<div class="clearfix"></div>
</header>