<%= erb :_header %>

<article id="about">	
	<h2>About la velolución</h2>
	<section>
		<p>BKME.ORG is a platform that channels the power of cyclists to reclaim bikelanes from vehicles.</p>
		<p>We use #BKME on Twitter to collectively defend our bikelanes in realtime, everywhere.</p>
		<p>Join the Velolucion.</p>
	</section>
	
	<section id="who-we-are">
			<h3>Who We Are</h3>
		<p><strong>We are cyclists in NYC.</strong><br />
			These bikelanes belong exclusively to us.<br />
			We are determined to defend them to stay alive.
		</p>	
		<p>This is why we made <strong>bkme.org</strong>, as a way to authorize urban access for us all.<br />
			Think of it as an Open Data platform for collectively recording each violation against our bikelanes, <strong>socially in real time.</strong>
		</p>	
		<p>We are all connected and we must participate in this revolution together.<br />
		Starting now we always bike together.<br />
		Join us and <strong>defend your bikelane.</strong></p>
		
		<p>This is just the beginning.<br />
		<strong>Viva la Velolución.</strong></p>
	</section><!--END #who-we-are-->
	<section id="interested">
		<h3>Interested?</h3>
		<p>Keep in mind we are in super alpha but we are working hard to make BKME even better.</p>
		
		<p><strong>Here is how to join in:</strong></p>
		
		<p>Whether on bike or on foot,
		Use your mobile device and <strong>take a photo</strong> of the offending vehicle, <strong>take down the license plate</strong> and <strong>tweet it</strong> all to <a href="http://twitter.com/#!/search/%23bkme" target="_blank">#bkme</a> with your GPS location enabled (here's how to <a href="http://twitter.com/signup" target="_blank">get a Twitter account</a> and <a href="https://support.twitter.com/groups/34-apps-sms-and-mobile/topics/171-twitter-s-mobile-website/articles/118492-how-to-tweet-with-your-location-on-mobile-devices" target="_blank">activate geolocation on your device</a>).
		
		<p>We are working on some really cool ideas for the future.<br /> 
		To stay current, follow us at <a href="http://twitter.com/#!/@bkme_ny" target="_blank">@bkme_ny.</a></p>
		
		<p>Have a comment or suggestions, want to go for a ride? Awesome! <br />
		We would love to hear from you! Send us an email at <a href='mailto:us@bkme.org'>us@bkme.org</a></p>
		
		<p>Yours,<br />
		<strong>The BKME Community</strong> </br>
		<ul>
	
		</ul>
		</p>
		
	</SECTION><!--END #interested-->

	
</article><!--END .alpha-info -->

<%= erb :_footer %>
