<%= erb :_header %>

<article id="about">	
	<h2 class="upper">About la velolución</h2>
	<section>
		<p>BKME.ORG is a platform that channels the power of cyclists to reclaim bikelanes from vehicles.</p>
		<p>We use #BKME on Twitter to collectively defend our bikelanes in realtime, everywhere.</p>
		<p><a href="/join">Join la Velolucion.</a></p>
	</section>
	
	<section id="who-we-are">
			<h3>Who We Are</h3>
		<p><strong>We are cyclists in NYC.</strong><br />
			These bikelanes belong exclusively to us.<br />
			We are determined to defend them to stay alive.
		</p>	
		<p>This is why we made <strong>bkme.org</strong>, as a way to authorize urban access for us all.<br />
			Think of it as an Open Data platform for collectively recording each violation against our bikelanes, <strong>socially in real time.</strong>
		</p>	
		<p>We are all connected and we must participate in this revolution together.<br />
		Starting now we always bike together.<br />
		Join us and <strong>defend your bikelane.</strong></p>
		
		<p>This is just the beginning.<br />
		<strong>Viva la Velolución.</strong></p>
	</section><!--END #who-we-are-->
	<section id="interested">
		<h3>Interested?</h3>
		<p>Keep in mind we are in super alpha but we are working hard to make BKME even better.</p>
		
		<p><strong><a href="/join">Here is how to join in.</a></strong></p>
		
		<p>Have a comment or suggestions, want to go for a ride? Awesome! <br />
		We would love to hear from you! Send us an email at <a href='mailto:us@bkme.org'>us@bkme.org</a></p>
		
		<p>Yours,<br />
		<strong>The BKME Team</strong> </br>
		<ul>
	
		</ul>
		</p>
		
	</section><!--END #interested-->
	<section id="manifest">
		<h3>A Manifesto</h3>
		<p>We are cyclists, we love biking,  and we use our bicycles to move through the city with ease, swiftness and utility that is unparalleled by any mode of urban transport.
			</p><p>
		But the urban environment is fraught with dangers- speeding cabs, blind trucks,  catapulting doors, suicidal pedestrians and other such obstacles.
		</p><p>
		We love biking but we love being alive just as much.
		</p><p>
		We see that there are many like us, we have observed them  flowing in and out of Manhattan,  rain or shine, day or night. </p><p>
		People armed with only 2 wheels, contained in a simple geometry,  braving the urban landscape, at night, blinking red dots swaying through the boulevards and side streets, on bridges and alleys.
		</p><p>
		The city has recognized these emergent trends, this  phenomenal evolution of urban transport,  and has for the past few years started the creation of a few projects that aim  to encourage and promote  biking.
		</p><p>
		Many studies have been done, and we now have, not only empirical knowledge, but  statistical proof, that bike lanes save lives, and we would add, that  it does this while promoting a democratization of mobility, a de-lamination of biking from the fringe to cover the core.
		</p><p>
		So, In the past 5 years the city has added over 210 bike lane miles, in order to facilitate this growing population of bike riders.
		</p><p>
		And consequently, in the past 5 years, the ridership numbers have more than doubled, with more than 20,000 people taking a daily commute through the various corridors that lead into Manhattan- Brooklyn Bridge, Manhattan Bridge, Williamsburg Bridge, 59st Bridge, and Staten Island.
		</p><p>
		Back and Forth, Day and Night.
		</p><p>
		This year bike sharing is coming, and with that we will have an additional 10,000 bikes in the NYC infrastructure. 
		</p><p>
		It is time to protect the bike lanes.</p>
		<p>
		Join Us!</p>
		
	</section>
	
</article><!--END .alpha-info -->

<%= erb :_footer %>
