<%= erb :_header %>
<article id="faq">
	<h2 id="F.A.Q." class="upper">F.A.Q.</h2>
	<section id="geolocation">
		<h3>How do I activate the geolocation on my device?</h3>
		<p>Activate the geolocation in your device is fairly easy, but is done differently for each system and twitter client. Here we'll explain how to do it in the most commonly used devices and applications.</p>
		<section id="ios">
		<h4>iPhone / iOS</h4>
		<figure><img src="images/faq/ios_authorize.png" alt="Authorize your app to access your location."/></figure>

		<p>First thing you should know is that any app you're using has to be authorized to be able to access your location. Most applications ask you for permission the first time you open them. If you're not sure, check it's allowed on the <em>Settings > Location Services</em> menu. Doing this will not share your location, it will only make it available for you to share it with that app.</p>
		
			<section id="iostwitter">
				<h5>Twitter for iPhone</h5>
					<aside class="cycle">
					
					<figure><img src="images/faq/twitterios_01.png" alt="Turn on location for your tweet."/></figure>					
					<figure><img src="images/faq/twitterios_02.png" alt="Turning off geolocation."/></figure>
					</aside>
				
				<p>When sending a GET, you should make sure the arrow icon <img src="/images/faq/twitterios_arrow.gif"/> is colored blue. <em>Tap once to turn it on</em>.</p>
				<p>It will stay <em>on</em> for the following tweets. To deactivate it tap again on the <img src="/images/faq/twitterios_arrow.gif"/> and then tapping on <em>Turn geolocation off</em>. Just <em>remember to turn it back on</em> when GETTING your next car.</p>
				<p>If it doesn't work, make sure Twitter is authorized in your <a href="#ios">Location Settings</a> and try again.</p>
		
				
			</section>
		</section>	
	</section>
	
</article>
<%= erb :_footer %>
