<%= erb :_header %>
<article id="join">
<h2 class="upper">Join the velolución!</h2>


<section>
	<figure><a href="https://twitter.com/bkme_ny" class="twitter-follow-button" data-show-count="false" data-lang="en" data-size="large">Follow @bkme_ny</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></figure>
	<p>
		As you know, we use twitter as a plattform for our 
		operations, so first step is to follow us on twitter.
	</p>
	<p>	Don’t have a twitter account? <a href="http://www.twitter.com">get one now!</a>
	</p>
	</section>
	
	<section>
		<figure>
			<img src="/images/phone.png" />
		</figure>
		<p class="mtop">
			Make sure your phone has geolocation and you have a twitter app installed.<br/>
			Then check in your preferences that your twitter application is allowed to access it.<br/>
			Here’s how you do it in <a href="/faq#android">Android</a> and <a href="/faq#ios">iPhone</a>.
		</p>
		
	</section>
	<section>
		
		<p class="mtop">
			Then just start GETTING cars by taking a photo and tweeting it with the hashtag <strong>#bkme</strong>
		</p>
		
	</section>
</article>

<%= erb :_footer %>
