<%= erb :_header %>
<article id="join">
<h2 class="upper">Join the velolución!</h2>


<section>
	<figure><a href="https://twitter.com/bkme_ny" class="twitter-follow-button" data-show-count="false" data-lang="en" data-size="large">Follow @bkme_ny</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></figure>
	<h3 class="upper">
		<span class="number">1</span>
	<a href="https://twitter.com/intent/follow?region=follow_link&screen_name=bkme_ny&source=followbutton&variant=2.0" target="_blank">Follow Us</a></h3>
	<p>	Don’t have a twitter account? <a href="http://www.twitter.com">get one now!</a>
	</p>
	</section>
	
	<section>
		
		<figure>
			<img src="/images/phone.gif" />
		</figure>
			<h3  class="upper"><span class="number">2</span> Where you are matters!</h3>
		<p class="mtop">
			Make sure your phone has geolocation and your twitter app is authorized.<br/>
			Here’s how you do it in <a href="/faq#android">Android</a> and <a href="/faq#ios">iPhone</a>.
		</p>
	</section>
	<section>
		<h3  class="upper"><span class="number">3</span>Defend the bikelane!</h3>
		
		<p class="mtop">
			When you spot a vehicle blocking the bikelane:
			<ul>
			<li>Open Twitter on your device and start a new tweet.</li>
			<li>Check geolocation <span class="icon geo"></span> is on.</li>
			<li>Take a photo.</li>
			<li>Type in #BKME and SEND.</li>
			<li>Smile and ride off.</li>
			</ul>
		</p>
	</section>
	<section>
		
		<h2 class="upper">Be informed!</h2>
		<p class="mtop">Before or after your ride, visit BKME.org to see the city through data clusters of bikelane violations.
		</p>
		<p>Choose your route,<br/>
		and ride aware!
		</p>
		<p>GET cars,<br/>
		and make a change.<br/>
	
		<p>We are working on some really cool ideas for the future.<br /> 
			To stay current, <a href="https://twitter.com/intent/follow?region=follow_link&screen_name=bkme_ny&source=followbutton&variant=2.0" target="_blank">Follow Us at @bkme_ny</a></p>
		<p>Have a comment or suggestions, want to go for a ride? Awesome! 
		We would love to hear from you! Send us an email at <a href='mailto:us@bkme.org'>us@bkme.org</a>.
		<h3><em class="upper">join the velolución!</em><h3>
		
		
	</section>
	
	
</article>

<%= erb :_footer %>
