<%= erb :_header %>
<article id="map-activity">
	<section id="ranking">
		<h2>Racers</h2>
		<ul>
		<% @users.each do |u| %>
			<%= "<li class='car'>
					<a href='/user/#{u[0]}' target='_blank'>
					<p class='count'>#{u[1]}</p>
					<p class='user'>@#{u[0]}</p>
					</a>
				</li>" %>
		<% end %>
	</ul>
	</section>
	<div class="clearfix"></div>

	<section class="map">
		<h2>MAP</h2>
		<nav id="map-nav">
			<a href="#" class="selected">all times</a><a href="#">last month</a><a href="#">last week</a><a href="#">today</a>
		</nav>	
		<div class="clearfix"></div>
		<div id="map" class="home" zoom="12" query="data/" url="<%=url_for "/", :full %>"></div>
	</section>



</article>

<%= erb :_footer %>
