
$bg = #85ccac;
$bright = #50c960;
$mid = #;

* {
	margin:0;
	padding:0;
	text-decoration:none;
}
body {
	font-size:12px;
	font-family: Helvetica, 'Helvetica Neue', Arial, sans-serif;
	line-height:1.6em;
	padding-bottom:100px;
	background:#85ccac;
}

a {
    color:#FFFFFF;
}
a:hover {
    color:#FFFFFF;
}
.page {
	width:940px;
	margin:0 auto;
	margin-top:20px;
}
#follow {
	text-align:right;
}
#follow a {
	top:15px;
	background:#8ed9b7;
	text-align:center;
	color:#ffffff;
	font-weight:bold;
	width:190px;
	padding:4px 7px;
	box-shadow: 1px 1px 0px #70b998;
	float:right;
	display:inline;
}
#logo {
	width:940px;
}
	
h1 {
	width:104px;
	height:104px;
	display:inline-block;
	background: url(../images/bkme.png) top left no-repeat;
	position:absolute;
	top:23px;
	z-index:99999;
	margin-left:418px;	
}
h2 {
	color:#ffffff;
	font-size:18px;
	font-weight:normal;
	text-transform:uppercase;
	background:#3c6152;
	border-top:1px solid #4f7566;
	border-left:1px solid #4f7566;
	padding:4px 0px;
	position:absolute;
	top:482px;
	width:639px;
	display:inline-block;
	z-index:99999;
	text-align:center;
	margin-left:150px;
	box-shadow: 1px 1px 0px #27473a;
	text-shadow:1px 1px 0px #27473a;
}
ol#steps-words, h3, #interested strong, #who-we-are strong, .alpha-info a {
	text-shadow:1px 1px 0px #70b998;
}
#headers {
	width:325px;
	float:left;
}
p {
	margin-bottom:12px;
}
strong {
	color:#ffffff;
}
ol#steps-words {
	width:940px;
	margin:0 auto;
	color:#ffffff;
	margin-top:20px;
	font-size:18px;
}
ol#steps-words li {
	width:300px;
	float:left;
	margin-right:20px;
	display:inline;
	text-align:center;
	padding-top:144px;
	height:60px;
	text-shadow:1px 1px 0px #5da685;
}
ol#steps-words li#one {
	background:#70b998 url(../images/steps-01.png) 98px 20px no-repeat;
}
ol#steps-words li#two {
	background:#70b998 url(../../images/steps-02.png) 98px 20px no-repeat;
}
ol#steps-words li#three {
	background:#70b998 url(../images/steps-03.png) 98px 20px no-repeat;
	margin-right:0;
}
ol#steps-words li small {
	font-size:14px;
}
#map {
	margin:20px auto;
	border:20px solid #3c6152;
	z-index:998;
	box-shadow: 1px 1px 0px #27473a;
}
#map .marker {
	font-size: 14px;
	line-height: 1.3;
}
#map .marker strong {
}
.alpha-info {
	color:#3c6152;
	font-size:16px;
	line-height:24px;
}
.alpha-info h3 {
	width:300px;
	float:left;
	margin-right:20px;
	display:inline;
	text-align:center;
	font-size:28px;
	font-weight:normal;
	margin-top:60px;
	color:#ffffff;
}
#interested, #who-we-are, #legal {
	width:620px;
	float:right;
	margin-top:60px;
}
#legal {
	font-size:11px;
}
h3#legal-header {
	font-size:16px;
}
#interested em, #who-we-are em {
	font-style:normal;
	background:#8ed9b7;
	padding:2px 4px;
}
#interested strong, #who-we-are strong, .alpha-info a {
	font-weight:normal;
	color:#ffffff;
}
.invisible {
	display:none;
}
.clear {
	clear:both;
}
.infoBub {
	padding:0px 20px 20px 20px;
	background:#3c6152;
	overflow:auto;
	color:#85ccac;	
}
div.car {
	background: url(../images/car.png) 37px 0px no-repeat;
	width:155px;
	padding-top:16px;
	text-align:center;
	display:inline-block;
	margin-top:40px;
}
div.car p.count {
	font-size:24px;
}
div.car p.username {
	padding-top:18px;
}
@-moz-document url-prefix() {
	#follow a {
		margin-left:-204px;
	}
	h1 {
		margin-left:418px;
	}
	h2 {
		padding-top:6px;
	}
}