@import "fonts";
//@import "960";
@import "grid";


$bg : #85ccac;
$dark: #356150;
$bright : #50c960;
$brighter : lighten($bright, 20%);

$mid : #84cbab;
$grey : #c6c6c6;
$font : 14px;
$small : 12px;

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
 ==========
 = MIXINS =
 ==========
*/

@mixin border-radius($radius){
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}

//////////
// GRID //
//////////

// Specify the number of columns and set column and gutter widths
$columns: 12;
$column-width: 60;
$gutter-width: 20;

// Remove the definition below for a pixel-based layout
$total-width: 100%;


/* 
 =================================================
 = ~~~~~~~~~~~~~~~~~~GLOBAL~~~~~~~~~~~~~~~~~~~~~ =
 =================================================
*/

body {
	line-height: 1.23;
	font-size:$font;
	font-family:Helvetica,Arial,Sans-Serif;
	font-family:AvantGarde, Helvetica,Arial, Sans-serif;
}

.invisible {
	display:none;
}
.clearfix {
	height:0;
	line-height: 0;
	clear:both;
}


h2 {font-size:$font*3.5; font-weight: bold; line-height:1.2;}
h3 {font-size:$font*1.5; font-weight: bold;}
h4 {font-size:$font*1.5; font-weight: bold;}

.upper {text-transform:uppercase;}

a {
	color: black;	
}
a:hover {
	color:$bright!important;
}

.lazy {
  display: none;
}

/* 
 ===========================
 = ~~~~~~~~LAYOUT~~~~~~~~~ =
 ===========================
*/

#wrap {
	max-width:980px;
	position:relative;
	margin:0 auto;
	padding: 0 10px;
}	


// main column & sidebar
#text {
	@include column(9);
}
#figure {
	@include column(3);
}


@media screen and (max-width: 720px) {
	#wrap header h3 {
	font-size:$font*1.3; 
	font-weight: bold; 
	margin-top:9px;
	margin-bottom:1em;
	}
	
	#home #top {
		height:420px;
	}
	#home #welcome .wrap {
		padding-right:10px!important;
		font-size:$font*1.3;
	}
	
	.number {
	margin-bottom:-12px!important;
	}
	.bigappsbanner {
		
		margin: 28px 0 0 0px!important;
	}

}	
@media screen and (max-width: 420px) {

	#about figure, #join figure, #faq figure {
	width:100%;
	margin-bottom:1em;
	text-align:center!important;
	}
}


/* 
 ===========================
 = ~~~~~~~~HEADER~~~~~~~~~ =
 ===========================
*/


#wrap header {
	border-bottom:1px solid black;
	
	h1{
		float:left;
		margin:10px 0 0 0;
		
		a{
			display:block;
			width:110px;
			height:110px;
			background: url(../images/bkme_logo.png) no-repeat;
		}
		a:hover{
			background: url(../images/bkme_logo_h.png) no-repeat;
		}
		.preload{
			background: url(../images/bkme_logo_h.png) no-repeat;
			display:none;
		}
	}
	
	.bigappsbanner {
		display:inline-table;
		width:246px;
		height:53px;
		background: url(../images/bigapps.png) no-repeat left top;
		margin: 28px 0 0 10%;
		&:hover{
		background: url(../images/bigapps_hover.png) no-repeat left top;
		
		}
	}
	
	h3 {
		float:right;
		a {
			display:inline-block;
			text-transform:uppercase;
			padding: 20px;
			-moz-box-shadow: 2px 2px 6px 1px #999;
			-webkit-box-shadow: 2px 2px 6px 1px #999;
			box-shadow: 2px 2px 6px 1px #999;
			background:$bright;
			margin:20px 0 0 0;
			color:white;
			text-decoration:none;
			
		
		&:hover{
			color:black!important;
			}
		}

	}
	 nav.main {
			clear:both;
		ul {
			float:right;
			li {
				float:left;
				margin-left:10px;
				
				a {
					color:black;
					text-decoration:none;
					text-transform:uppercase;
					font-size:$font*1.2;
					letter-spacing:0.1em;
					:hover{
					color:$bright;
					background:$bright;
					
					:hover{
						background:$mid;
					}
					
					}
				}
			}
		}
	}
}



/*
 ================================================
 = ~~~~~~~~~~~~~~~~~~FOOTER~~~~~~~~~~~~~~~~~~~~~ =
 ================================================
*/
footer {
	border-top:1px solid black;
	margin-top:20px;
	padding: 40px 0;
	font-size:12px;
	a{
		color:$dark;
	}
	#legal {
		h3 {
		margin:40px 0 5px 0;
		}
	}
	}




/*
 ================================================
 = ~~~~~~~~~~~~~~~~~~MAP ~~~~~~~~~~~~~~~~~~~~~~ =
 ================================================
*/


.infoBub {
	height:129px;
	text-align:center;
	img {
	max-width:100px;
	max-height:100px;
	}
	a {	
		font-size:10px;
		display:block;
		color:black;
		text-decoration:none;}
	a:hover {
		color:white!important;
	}
}

/*
 ================================================
 = ~~~~~~~~~~~~~~~~~~HOME~~~~~~~~~~~~~~~~~~~~~~ =
 ================================================
*/
#home {
	position:relative;
	
	#top {
	overflow:hidden;
	position:relative;	
	margin:10px 0 30px 0;
	width:100%;
	height:380px;	
	}
	#map, #welcome{
		width:100%;
		height:100%;
	}
	#welcome {
		cursor:pointer;
		position:absolute;
		margin:0px;
		z-index:2;
		
		.wrap{
		padding: 80px 200px 0 0;
		
		}
		span{
			font-size:$font*3;
			font-weight:bold;
			color: white;
			background:$bright;
			width:700px;
		}
		a {
			color:white;
			text-decoration:none;
			}
		a:hover {
			color:black!important;

			}
			
	}
	#legend {
		text-align:right;
		font-size:$small;
		margin:-30px 0 30px 0;
		.icon {
		display:inline-table;
		margin:0 3px 0 12px;
		width:16px;
		height:15px;
		background-repeat:no-repeat;
		background-position:0 2px;
		}
		.icon.get {
			background-image:url(../images/gets_legend.png);
		}
		.icon.ticket {
			background-image:url(../images/tickets_legend.png);
		}
	}
	
	
}



/*
 ================================================
 = ~~~~~~~~~~~~~~~~~~GETS~~~~~~~~~~~~~~~~~~~~~~ =
 ================================================
*/


#gets {
	margin:0 0 30px 0;
	h2 span {
		float:right;
	}
	ul {
		margin-right:-30px;
	}
	li{
		display:block;
		float:left;
		position:relative;
		width:197px;
		height:200px;
		
		
		a.get{
			display:block;
			width:170px;
			height:160px;
			overflow:hidden;
			
			.photo {
			
			}
			
		}
		a.user {
			color:black;
			text-decoration:none;
			position:absolute;
			top:0;
			right:25px;
			height:35px;
			width:200px;
			
			.get {
				display:block;
				position:absolute;
				top:-5px;
				right:-10px;
				font-weight:normal;
				padding:4px;
				min-width:15px;
				text-align:center;
				border:2px solid white;
				background:$bright;
				border-radius:18px;
			}
			.name {
				padding:0 0 0 3px;
				float:right;
				background:$bright;
				padding-right:20px;
			}
		}
		a.user:hover {
			.get, .name {
				color:white;
			}
		}
		
		a.time{
			font-size:12px;
			color:$grey;
			text-decoration:none;
		}
		
	}

}

/*  PAGINATION */
.pagination {
	clear:both;
	height:40px;
	font-size: $font*3;
	font-weight:bold;
	a {
		color:black;
		text-decoration:none;
	}
	a:hover {
		color:$bright;
		text-decoration:none;
	}
	.older {float: right;}
	.newer {float: left;}
	}

/*
 ================================================
 = ~~~~~~~~~~~~~~~~ USER PAGE ~~~~~~~~~~~~~~~~~ =
 ================================================
*/

#user {
	h2 {
		position:relative;
		margin:0;
		width:370px;
		float:left;
		a {
			color:black;
			text-decoration:none;
			line-height:1;
		}
		span {
				color:black;
				padding:5px 7px;
		}
		
	}
	nav.stats {
		float:left;
		border-top:1px solid black;
		
		li{
		font-size:$font*2;
		width:370px;
		border-bottom:1px solid $grey;
		padding:3px 0;
		height:40px;
		a {color:black; text-decoration:none; display:block; float:left}
		span {float:right;}
		}
		li:last-child{border-bottom:1px solid black;}
		li.ever {font-weight:bold}
	}
	#map {
		float:right;
		width:565px;
		height:300px;
		margin:10px 0 30px 0;
	}
	

}

/*
 ================================================
 = ~~~~~~~~~~~~~~~~~~GET PAGE ~~~~~~~~~~~~~~~~~ =
 ================================================
*/



#get {
	.header {
		margin-bottom: 10px;
	h3 {float:right}
	h4 {float:left}
	}

	#photo {
		width:460px;
		float:left;
		img {
		width:460px;
		
		}
	}
	#map {
			width: 460px;
			height: 380px;
			float:right;
		}
		
	#info {
		margin-top:10px;
		h3 {
		border-bottom:1px solid black;
		}
		p {
		padding:6px 0; 
		border-bottom:1px solid $grey;
		span {
			display:block;
			float:left;
			width: 100px;
			}
		}
		width: 460px;
		float:right;
		clear:right;
	}
}


/*
 ================================================
 = ~~~~~~~~~~~~~~~~~~MAP PAGE ~~~~~~~~~~~~~~~~~ =
 ================================================
*/

#map-activity {
	section.map{ 
		border-top:1px solid black;
		h2 {
		float:left;
		line-height:1;
		margin-top:10px;
		}
		#map-nav{
				float:right;
				margin-top:30px;
		
			a {
				font-size:$font*1;
				margin-left:15px;
				line-height:1;
				padding-bottom: -4px;
				color:black;
				text-decoration:none;
			}
			a.selected {border-bottom:2px solid black}
		}
	}
	#map{
		width:960px;
		height:450px;
		margin-top:-10px;
		}

}

#ranking{
	h2{
	border-bottom:1px solid black;
	margin-bottom:20px;
	
	}
	ul{
	margin-right:-90px;
	margin-bottom:20px;
	}
	.car {
		width:260px;
		height:190px;
		float:left;
		margin-right:90px;
		:hover{
			background:$bright;
			.count{
				color:white;
			}
			.user{color:black;}
		}
		a{
			text-decoration:none;
			display:block;
			height:100%;
			.count {
				font-size: $font*10;
				color:black;
				line-height:1;
				padding:10px 10px 0 10px;
			}
			.user {
				padding:0 10px 10px 10px;
				font-size: $font*2;
				line-height:1;
				color:$brighter;
				
			}
			
		}
	}

}



/*
 ================================================
 = ~~~~~~~~~~~~~~~~~~ABOUT    ~~~~~~~~~~~~~~~~~ =
 ================================================
*/


#about, #join, #faq {
	section {margin-top:40px; clear:both;}
	h3 {margin:20px 0 30px 0; font-size:$font*2.5; color:$bright; }
	h4 {margin:10px 0; font-size:$font*2;}
	h5 {font-size:$font*1.5; font-weight:bold; margin-bottom:5px; }
	h3.upper {color:black;}
	h3 a {
		text-decoration:none;
		&:hover{
		color:black;
		
		}
	}
	.number {
		display:inline-table;
		background:$bright;
		font-size:$font*4;
		color:white;
		border:40px;
		padding:0 .35em;
		margin-bottom:-22px;
		margin-right:5px;
		@include border-radius(100px);
	}
	.icon {
	display:inline-table;
	margin:0 0 -4px 0;
	width:24px;
	height:24px;
	background-repeat:no-repeat;
	}
	.icon.geo {
		background-image:url(../images/geoicon.gif);
	}
	p, ul{
		margin-bottom:1em;
		max-width:700px;
		font-size:$font*1.5;
		li {
			list-style: url(../images/bullet.png) inside;
			margin-bottom:5px;
			}
		}
		
		
	em {
		color: $bright;
	}
	figure {
		float:right;
		text-align:right;
		iframe {
			width:160px!important;
		}
	}
	
	.cycle {
		float:right; 
		height:210px; 
		width:137px;
	
	
	}
	
}
